<header>
    <div id="start">
        <a href="/"><img id="logo-icon" src="image/logo.png"></a>
    </div>
    <div id="center">
        <form id="search-container">
            <input id="search" type="text" placeholder="검색">
            <button id="search-button" >
                <img src="image/search.svg">
            </button>
        </form>
    </div>
    <div id="end">
        로그인 회원가입
    </div>
</header>