<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hwan-Yeong</title>

    <link rel="stylesheet" type="text/css" href="css/head.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <%- include("./partials/head") %>
    <%- include("./partials/navigation") %>

    <div class="contents">
        <div class="content-container">
            <div class="content-head">
                <img class="content" src="image/sample.png">
            </div>
            <div class="content-body">
                <div>경0이가 좋아하는 해쭈</div>
                <div>만든날짜: 2022-06-18 12:00</div>
            </div>
        </div>
        
        <div class="content-container">
            <div class="content-head">
                <img class="content" src="image/sample.png">
            </div>
            <div class="content-body">
                <div>경0이가 좋아하는 해쭈</div>
                <div>만든날짜: 2022-06-18 12:00</div>
            </div>
        </div>
        
        <div class="content-container">
            <div class="content-head">
                <img class="content" src="image/sample.png">
            </div>
            <div class="content-body">
                <div>경0이가 좋아하는 해쭈</div>
                <div>만든날짜: 2022-06-18 12:00</div>
            </div>
        </div>
        
        <div class="content-container">
            <div class="content-head">
                <img class="content" src="image/sample.png">
            </div>
            <div class="content-body">
                <div>경0이가 좋아하는 해쭈</div>
                <div>만든날짜: 2022-06-18 12:00</div>
            </div>
        </div>
    </div>

    <% if (user.isLogined) { %>
        <button class="upload">
            <image src="image/upload.svg"></image>
            사진 업로드
        </button>
    <% } %>

    <script type="text/javascript" src="js/nav.js"></script>
</body>
</html>