<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/css/popup.css">
</head>
<body>

    <form class="popup-container" method="post">
        <div class="popup-title">
            환영합니다~!
        </div>
        <div class="popup-content">
            <input type="text" name="mbId" placeholder="아이디">
            <input type="text" name="mbPw" placeholder="비밀번호">
            <input type="text" name="mbPwConfirm" placeholder="비밀번호 확인">
            <button>회원가입</button>
        </div>
        <div class="popup-button">

        </div>
    </form>
</body>
</html>